<div class="pagination-box">
  {% if pager.haveToPaginate %}
    <div class="flex justify-around mt-3 underline font-semibold">
      {% if pager.hasPreviousPage %}
        <a href="{{ path(path, {page: pager.getPreviousPage}) }}" class="text">Back</a>
      {% endif %}
      {% for page in range(1, pager.nbPages) %}
        {% if page === pager.currentPage %}
          <span class="active">{{ page }}</span>
        {% else %}
          <a href="{{ path(path, {page: page}) }}"><span>{{ page }}</span></a>
        {% endif %}
      {% endfor %}
      {% if pager.hasNextPage %}
        <a href="{{ path(path, {page: pager.getNextPage}) }}" class="text">Next</a>
      {% endif %}
    </div>
  {% endif %}
</div>