{% extends 'base.html.twig' %}

{% block body %}
  <div class="page-container">
    <div class="outter-container">
      <h1>Rentals</h1>
      {% if rentals|length %}
      <div class="rentals-container">
        <div class="box-header">
          <p>Title</p>
          <p>Author</p>
          <p>Category</p>
          <p>Deadline</p>
          <p>Action</p>
          {# <p>Returned</p> #}
        </div>

        {% for rental in rentals %}
          <div class="box-content">
            <div class="img-title">
              <img src="{{ asset(rental.book.getImagePath) }}" alt="book image">
              <p>{{ rental.book.title }}</p>
            </div>
            <p>Autor</p>
            <div>
              <p style="background-color:#{{ rental.book.category.color }}30; color:#{{ rental.book.category.color }}" class="category-bgc">
                {{ rental.book.category.title }}
              </p>
            </div>
            <p>till: <span>{{ rental.deadline|date('F-jS') }}</span></p>
            <p>
              <a href="{{ url('rental_return', {'id': rental.id}) }}" class="return-btn">
                <i class="fa-solid fa-reply"></i>
                Zwróć
              </a>
            </p>
            {# <p>{{ rental.returnedAt ? 'yes' : 'no' }}</p> #}
          </div>
        {% endfor %}
      </div> 
      {% else %}
        <p>No rentals found</p>
      {% endif %}
    </div>

    <div class="outter-container">
      <h1>Waiting</h1>
      {% if queues|length %}
        <div class="rentals-container">
          <div class="box-header">
            <p>Title</p>
            <p>Author</p>
            <p>Category</p>
            <p>Position</p>
            <p>Missed opportunities</p>
          </div>

          {% for queue in queues %}
            <div class="box-content">
              <div class="img-title">
                <img src="{{ asset(queue.book.getImagePath) }}" alt="book image">
                <p>{{ queue.book.title }}</p>
              </div>
              <p>Autor</p>
              <div>
                <p style="background-color:#{{ queue.book.category.color }}30; color:#{{ queue.book.category.color }}" class="category-bgc">
                  {{ queue.book.category.title }}
                </p>
              </div>
              <p>{{ queue.position }}</p>
              <p>{{ queue.missingOpportunity }}</p>
              {# <p>{{ rental.returnedAt ? 'yes' : 'no' }}</p> #}
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>No rentals found</p>
      {% endif %}
    </div>
  </div>
{% endblock %}