{% extends 'base.html.twig' %}

{% block body %}
  <h1>Rentals</h1>
  {% if rentals|length %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Id</th>
          <th>Rented at</th>
          <th>Updated at</th>
          <th>Book</th>
          <th>Status</th>
          <th>Returned at</th>
          <th>Owner </th>
        </tr>
      </thead>
      <tbody>
        {% for rental in rentals %}
          <tr>
            <td>{{ rental.id }}</td>
            <td>{{ rental.rentedAt|date('Y-m-d') }}</td>
            <td>{{ rental.updatedAt|date('Y-m-d') }}</td>
            <td>{{ rental.book.title }}</td>
            <td>{{ rental.returnedAt ? 'Returned' : 'Borrowed' }}</td>
            <td>{{ rental.returnedAt ? rental.returnedAt|date('Y-m-d') : '-' }}</td>
            <td>{{ rental.owner.email }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p>No rentals found</p>
  {% endif %}
{% endblock %}