<div class="table-container">
  <div class="box-header">
    <p>Created at</p>
    <p>User</p>
    <p>Book</p>
    <p>Missed opportunity</p>
    <p>Position</p>
  </div>

  {% if bookQueues is defined and bookQueues|length %}
    {% for bookQueue in bookQueues %}
        <div class="admin-content">
            <p>{{ bookQueue.createdAt|date('Y-m-d') }}</p>
            <p>{{ bookQueue.user.email }}</p>
            <p>{{ bookQueue.book.title }}</p>
            <p>{{ bookQueue.missingOpportunity }}</p>
            <p>{{ bookQueue.position }}</p>
        </div>
    {% endfor %}
  {% endif %}
</div>
