{% extends 'base.html.twig' %}

{% block title %}
    Open Books
{% endblock %}

{% block body %}
  <div class="page-container">
    <div class="outter-container">
    <h1>Most popular books</h1>
      <div class="popular-containers">
        {% for popularBook in popularBooks %}
          <div class="popular-book-box">
              <img class="popular-img-box" src="{{ asset(popularBook[0].getImagePath) }}" alt="{{ popularBook[0].title }}">
              <div class="book-title">
                <p>{{ popularBook[0].title }}</p>
              </div>  
          </div>
        {% endfor %}
      </div>
      <div class="view-more">
        <a href="{{ url('book_index') }}">View more</a>
      </div>
    </div>

    <div class="outter-container">
      <h1>Categories</h1>
      <div class="categories-container">
        {% for category in categories %}
          <div class="category-box">
            <div class="on-top">
              <div class="category-headers">
                <img src="{{ asset('images/category.jpg') }}" alt="category image">
                <p style="background-color:#{{ category.color }};">{{ category.title }}</p>
              </div>
              <div class="first-bg"></div>
              <div class="second-bg"></div>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="view-more">
        <a href="{{ url('category_index') }}">View more</a>
      </div>
    </div>
  </div>
{% endblock %}
