<div class="table-container">
  <div class="box-header">
    <p>Title</p>
    <p>Action</p>
  </div>
  {% if pager|length %}
    {% for category in pager %}
      <div class="box-content">
        <div class="category-table-field">
          <p style="background-color:{{ category.color }}30; color:{{ category.color }}">    
            <a href="{{ url('category_show', {'id': category.id}) }}">{{ category.title }}</a>
					</p>
        </div>
        <p class="icon-action">
          {% if category.id in userFavCategoryIds %}
            <a href="{{ url('favorite_delete', {'id': category.id}) }}">
              <i class="fa-solid fa-heart-crack favorite-add-action"></i>
            </a>
          {% else %}
            <a href="{{ url('favorite_add', {'id': category.id }) }}">
              <i class="fa-solid fa-heart favorite-add-action"></i>
            </a>
          {% endif %}
          {% if is_granted('ROLE_ADMIN') %}
            <a href="{{ url('category_edit', {'id': category.id}) }}">
              <i class="fa-solid fa-pen-to-square edit-icon"></i>
            </a>
            <a href="{{ url('category_delete', {'id': category.id}) }}">
              <i class="fa-solid fa-circle-xmark delete-icon"></i>
            </a>
          {% endif %}
        </p>
      </div>
    {% endfor %}
  {% else %}
    <p>No categories found</p>
  {% endif %}
</div>