{% extends 'base.html.twig' %}

{% block title %}
    Books list
{% endblock %}

{% block body %}
  <h1>Books list</h1>

  <div class="books-container">
      {% for book in books %}
        <div class="card" style="width: 18rem;">
          <img src="{{ asset(book.getImagePath) }}" alt="{{ book.title }}" class="img-book">
          <div class="card-body">
            <h5 class="card-title">{{ book.title }}</h5>
            <p>id: {{book.id}}</p>
            <h6 class="card-subtitle mb-2 text-body-secondary">{{ book.rentals|length ? 'Borrowed' : 'Available' }}</h6>
            <p class="card-text">{{ book.yearOfRelease }}, Pages: {{ book.pages }}</p>
            <p class="card-text">Category: {{ book.category.title }}</p>

            {% if app.user %}
              {% if book.getActiveRentals|length %}
                {% set rental = book.getActiveRentalByUser(app.user) %}
                {% if rental %}
                  <a href="{{ path('rental_return', {'id': rental.id }) }}" class="btn btn-primary">Zwróć</a>
                {% else %}
                  <form method="post" action="{{ path('book_queue_create', {'id': book.id }) }}">
                    <button type="submit" class="btn btn-primary">
                      Powiadom
                    </button>
                  </form>
                {% endif %}
              {% elseif book.id in queuedBooksIds %}
                  {% if app.user in queuedUserBooksIds %}
                    <p class="btn btn-secondary">Oczekujący</p>
                  {% else %}
                    <form method="post" action="{{ path('book_queue_create', {'id': book.id }) }}">
                      <button type="submit" class="btn btn-primary">
                        Powiadom
                      </button>
                    </form>
                  {% endif %}
              {% else %}
                  <a href="{{ path('rental_create_with_book', {'id': book.id }) }}" class="btn btn-primary">Wypożycz</a>
              {% endif %}
            {% else %}
              <a href="{{ path('app_login') }}" class="btn btn-primary">Zaloguj się</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
  </div>
{% endblock %}
