{% extends 'app.html.twig' %}

{% block title %}
    Books list
{% endblock %}
{% block body %}
    <div class="popular-container">
      <h2>Most popular</h2>
      <div class="populars-box">
        {% for popularBook in popularBooks %}
          <div class="popular-content">
            <div class="popular-book-img-boox">
              <img src="{{ asset(popularBook[0].getImagePath) }}" alt="book image">
            </div>
            <div class="popular-text-content">
              <div class="category-info">
                <p class="popular-p" style="background-color:{{ popularBook[0].category.color }}60">
                  {{ popularBook[0].category.title}}
                </p>
              </div>
              <h3>{{ popularBook[0].title }}</h3>
              <h4>{{ popularBook[0].writer }}, {{ popularBook[0].yearOfRelease }}</h4>
              <p>{{ popularBook[0].description }}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="search">
      {{ form_start(form) }}
        {{ form_row(form.title) }}
        {{ form_row(form.year) }}
        {{ form_row(form.category) }}
        <button>
          <i class="fa-solid fa-magnifying-glass"></i>
        </button>
      {{ form_end(form) }}
    </div>
    <div class="outter-container">
      <h1>Book list</h1>
      {% include "app/_pagination.html.twig" with {pager: pager, path: 'book_index'} %}      
      <div class="books-container">
        {% for book in pager %}
          {% include "/book/_box.html.twig" %}
        {% endfor %} 
      </div>
    </div>
{% endblock %}