{% extends 'base.html.twig' %}

{% block title %}FavCategories{% endblock %}

{% block body %}
  {% if favCategories is defined and favCategories|length %}
    <table class="table table-striped">
      <thead>
        <tr>
          <th>created at</th>
          <th>Updated at</th>
          <th>Category</th>
          <th>Owner</th>
          {% if is_granted('ROLE_USER') %}
            <th>Notification enabled</th>
          {% endif %}
        </tr>
      </thead>
      <tbody>
        {% for favCat in favCategories %}
          <tr>
            <td>{{ favCat.createdAt|date('Y-m-d') }}</td>
            <td>{{ favCat.updatedAt|date('Y-m-d') }}</td>
            <td>{{ favCat.category.title }}</td>
            <td>{{ favCat.owner.email }}</td>
            {% if is_granted('ROLE_USER') %}
              <td>{{ favCat.notificationsEnabled ? 'yes' : 'no'}}</td>
            {% endif %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
{% endblock %}