<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        {# <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous"> #}
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+NZ+Guides&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/c4efa6e410.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ asset('styles/home.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/books.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/rentals.css') }}">
        <link rel="stylesheet" href="{{ asset('styles/categories.css') }}">

        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        {% block layout %}
            <div class="page-container">
                {% block body %}{% endblock %}
            </div>
        {% endblock %}
            {# {% if app.current_route !== 'app_login' %}
                <div class="app-container">
                    {% include "/main/_navbar.html.twig" %}
                    <div class="page-container">
                        {% block body %}{% endblock %}
                    </div>
                </div>
            {% else %}
                {% block body %}{% endblock %}
            {% endif %} #}
            
           
            {# {% for type, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ type }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %} #}
                {# <div class="page-container">
                    {% block body %}{% endblock %}
                </div> #}
            {# </div> #}
        {# </div> #}
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
    </body>
</html>
